@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.celular-principal{
    width: 400px;
}
.container-itens{
    width: 350px;
}
.container-form{
    display:flex;
    flex-direction: column;
    border: 2px solid #dbdbdb;
    background: #fff;
}